absl-py==0.13.0
adblockparser==0.7
AdvancedHTTPServer==2.2.0
aiocmd==0.1.2
aioconsole==0.3.1
aiodns==2.0.0
aiofiles==0.6.0
aiohttp==3.7.4
aiomultiprocess==0.8.0
aiosqlite==0.16.1
aiowinreg==0.0.3
aniso8601==9.0.1
apispec==3.3.1
apispec-webframeworks==0.5.2
appdirs==1.4.4
asciitree==0.3.3
asgiref==3.4.1
asn1crypto==1.4.0
astunparse==1.6.3
async-timeout==3.0.1
asysocks==0.0.2
attrs==20.3.0
autobahn==17.10.1
Automat==20.2.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.3
bidict==0.21.2
bleach==3.2.1

cli-helpers==2.2.0
click==7.1.2
click-plugins==1.1.1
Cython==0.29.21
Flask==1.1.2
Flask-Classful==0.14.1
Flask-KVSession-fork==0.6.3
Flask-Limiter==1.0.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.9
Flask-Security-Too==4.0.0
Flask-SocketIO==5.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
html2text==2020.1.16
html5lib==1.1
httplib2==0.18.1
hupper==1.10.2
hyperframe==6.0.0
hyperlink==19.0.0
importlib-metadata==4.6.4
incremental==17.5.0
iniconfig==0.0.0
invoke==1.4.1
ipwhois==0.15.1
marshmallow-sqlalchemy==0.26.0
matplotlib==3.3.4
maxminddb==2.0.3
mechanize==0.4.5
minidump==0.0.12
numba==0.52.0
numexpr==2.7.3
numpy==1.19.5
pandas==1.1.5
paramiko==2.7.2
parso==0.8.1
passlib==1.7.4
Paste==3.5.0
PasteDeploy==2.1.1
PasteScript==2.0.2
pickleshare==0.7.5
Pillow==8.1.2
plaster==1.0
plaster-pastedeploy==0.5
pluggy==0.13.0
pluginbase==1.0.1
ply==3.11
prettytable==0.7.2
Pysmbc==1.0.23
PySocks==1.7.1
pyspnego==0.1.5
pytest==6.0.2
python-apt==2.2.1
xlrd==2.0.1
XlsxWriter==1.1.2
xlwt==1.3.0

