AdvancedHTTPServer==2.2.0
aiohttp==3.7.4
cli-helpers==2.2.0
click==7.1.2
click-plugins==1.1.1
colorama==0.4.4
configobj==5.0.6
email-validator==1.1.2
et-xmlfile==1.0.1
ExifRead==2.3.2
faraday-agent-parameters-types==1.0.1
faraday-client==1.1.0
faraday-plugins==1.5.2
Flask==1.1.2
Flask-Classful==0.14.1
Flask-KVSession-fork==0.6.3
Flask-Limiter==1.0.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-RESTful==0.3.9
Flask-Security-Too==4.0.0
Flask-SocketIO==5.0.1
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.14.3
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
gunicorn==20.1.0
html2text==2020.1.16
html5lib==1.1
httplib2==0.18.1
hupper==1.10.2
hyperframe==6.0.0
hyperlink==19.0.0
importlib-metadata==4.6.4
kali-tweaks==2021.3.3
keras==2.6.0
Keras-Preprocessing==1.1.2
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
PasteDeploy==2.1.1
PasteScript==2.0.2
phonenumbers==8.12.1
pickleshare==0.7.5
pyOpenSSL==20.0.1
pypng==0.0.20
python-dateutil==2.8.1
python-debian==0.1.39
python-debianbts==3.2.0
python-docx==0.8.10
python-editor==1.0.3
python-engineio==4.0.0
python-magic==0.4.20
python-pam==1.8.4
python-pptx==0.6.18
python-snappy==0.5.3
python-socketio==5.0.3
requests==2.25.1
requests-file==1.5.1
requests-ntlm==1.1.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
Routes==2.5.1
rsa==4.7.2
scapy==2.4.4
scikit-learn==1.0
scipy==1.6.0
seaborn==0.11.2
setproctitle==1.2.2
unicodecsv==0.14.1
Unidecode==1.3.0
websocket-client==0.57.0
websockets==9.1
xcffib==0.8.1
xdg==5
xlrd==2.0.1
XlsxWriter==1.1.2
xlwt==1.3.0
xmltodict==0.12.0
zipp==1.0.0
zope.deprecation==4.4.0
zope.interface==5.2.0
